<!DOCTYPE html>
<html lang="es">
<head>
	<title> Mi Banco </title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link href="/assets/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="container" ng-app="BancoModule">
	  <div class="hero-unit">
	    <h1>Bienvenido a Mi Banco</h1>
	  </div>
  
    <div ng-controller="CuentasCtrl">

	    <section class="cartera">
    		<h2 class="nombre text-center"> Mi cartera  </h2> 
    		<p class="monto"> Monto: {{ cartera | currency }} </p>
	    </section>

	    <ul class="cuentas">
	    	<li ng-repeat="monto in cuentas"> 
	    		<h2 class="nombre text-center"> Cuenta {{ $index }} </h2> 
	    		<p class="monto"> Monto: {{ monto | currency }} </p>
	    		<br>
	    		<form>
	    			$ <input type="number" min="1" max="{{ monto }}" class="cantidad" ng-model="cantidad_retiro"> 
	    			<input type="submit" class="btn btn-primary" value="Retirar" ng-click="retirar($index, cantidad_retiro)"> 
	    		</form>

	    		<form>
	    			$ <input type="number" min="1" max="{{ cartera }}" class="cantidad" ng-model="cantidad_deposito"> 
	    			<input type="submit" class="btn btn-success right" value="Depositar" ng-click="depositar(cantidad_deposito)">
	    		</form>
	    	</li>
	    </ul>

    </div>
	</div>


	<script type="text/javascript" src="/assets/js/libs/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/angular-local-storage.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>